body {
    /* height: 1930px; */
    width: 100%;
    /* margin: 0 auto; */
    /* background-color: #f9f5f2; */
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Open Sans';
    font-family: 'Esteban', serif;
    background-attachment: scroll;
    /* background-repeat: repeat; */
    /* display: block; */
    /* height: 2700px; */
}

.landing{
    background-attachment: fixed;
    background-image: url(../img/red-forest.jpg);
    background-position: center center;
    background-size:cover;
    z-index: -1;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
    position: relative;
    background-color: transparent;
    width: 100%;
}

.clear-space-0{
    width: 100%;
    height: 100px;
}

#nav {
    width: 100%;
    height: 140px;
    position: relative;
    top: 50px;
}

#nav h1 {
    z-index: 2;
    top: 30px;
    position: relative;
    /* float: left; */
    width: 50%;
    text-align: center;
    font-size: 1em;
    display: inline-block;
}

.nav-bar{
    width: 50%;
    height: 150px;
    border: none;
    padding: 0px;
    margin: 0px;
    float: right;  
} 

.nav-list {
    /* width: 68px; */
    list-style-type: none;
    display: block;
    position: relative;
    top: 30px;
    margin: 0;
    float: left;
    text-align: center;
    padding: 15px 40px 0 0;
}

.nav-list a {
    text-align: center;
    display: block;
    /* padding: 16px; */
}

.nav-list:first-child{
    padding-left: 18%;
}

/* .clear-space-1 {
    width: 100%;
    height: 80px;
} */

.nav-color {
    z-index: 0;
    display: inline-block;
    width: 100%;
    height: 600px;
    /* background-color: black; */
    /* opacity: .5; */
    z-index: -1;
    position: absolute;
    top: -160px;
    background: linear-gradient(0deg, transparent 10%, black 90%);
}

.mantel-logo {
    display: block;
    margin: auto;
    background-image: url(../img/mantel-logo-en-white-200px.png);
    height: 263px;
    width: 216px;
    top: -200px;
    position: relative;
}


.name {
    text-align: center;
    font-size: 3em;
    position: relative;
    top: -200px;
}

.subtitle {
    text-align: center;
    font-size: 1.25em;
    position: relative;
    top: -200px;
}

h1, .nav-list, h2, .name, .subtitle, a {
    color: #f7f7ff;
    text-transform: uppercase;
}

/* .clear-space-2{
    position: relative;
    width: 100%;
    height: 175px;
} */

/* ABOUT */
/* ABOUT */
/* ABOUT */

.about {
    height: 450px;
    width: 100%;
    background-color: #F7F7FF;
}

.about-container{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 60%;
    position: relative;
}

.about-row {
    display: inline-block;
    clear: both;
    width: 40%;
    position: relative;
    text-align: center;
    height: 450px;
}

.about-me {
    /* margin-left: 75px; */
    margin: auto;
    font-size: 2em;
    color: black;    
}

.about-pic-container {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: auto;
    display: inline-block;
    top: 0px;
    height: 400px;
    margin-top: 30px;
}

.about-pic {
    display: inline-block;
}

.about-bio {
    width: 40%;
    float: right;
    position: relative;
    font-size: 1.15em;
    padding: 5% 10% 5% 10%;
}

.about-bio p a {
    color: black;
    font-family: 'Open Sans';
    text-transform: none;
    text-decoration: none;
    font-size: 1em;
}

/* .about-bio ul {
    list-style-type: circle;
    list-style-position: outside;
} */

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

.clear-space-3{
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-image: url(../img/red-forest-4.jpg);
    background-position: center center;
    background-size:cover;
    z-index: -1;
} 

.projects-header {
    font-size: 2em;
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
    top: 100px;
}

.projects-section {
    width: 100%;
    height: 500px;
    opacity: 1;
    margin: auto;
    display: table;
    /* background: linear-gradient(360deg, #fcbfc5 10%, #F7F7FF 90%); */
    background: #F7F7FF;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.project-container-0 {
    width: 95%;
    height: 90%;
    margin: 2% auto 2% auto;
    position: relative;
    display: flex;
}

.project-thumbnails {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    width: 40%;
    height: 100%;
}

.project-titles {
    align-items: stretch;
    width: 30%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.project-title a {
    color: black;
}

.project-textbox {
    height: 85%;
    width: 30%;
    background-color: white;
    opacity: .5;
    position: relative;
    font-size: 1.5em;
    display: inline-block;
    border: solid 5px black;
    padding: 2%;
}

.project-thumbnail {
    height: 180px;
    width: 180px;
    border: solid 2px #7c7c80;
    display: inline-block;
    background-size: contain;
    resize: both;   
    margin: 5px; 
    background-color: #74bbc2;
}

.project-thumbnail span {
    position: relative;
    float: left;
    color: black;
}

.project-title {
    margin: 10% 10% 10% 2%;
    /* color: #fffffc; */
    color: #f7f7ff;
    text-align: center;
}

.project-title:first-child {
    margin: 0 10% 10% 2%;
}

.project-text-list{
    display: none;
}


.project-1 {
    background-image: url(../img/gvd-screenshot-2.png);

}

.project-1:hover {
    cursor: pointer;
    background-image: url(../img/gvd-slides.gif);
    border-color: #c10617;
}

.project-2 {
    background-image: url(../img/sim-screenshot-4.png);
}

.project-2:hover {
    cursor: pointer;
    background-image: url(../img/sim-screenshot.gif);
    border-color: #c10617;
}

.project-3 {
    background-image: url(../img/sample-sim-3.png);
}

.project-3:hover {
    cursor: pointer;
    background-image: url(../img/sample-sim.gif);
    border-color: #c10617;
} 


.project-4:hover {
    z-index: 2;
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}


.project-5:hover {
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}


.project-6:hover {
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}


.project-7:hover {
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}

.project-8:hover {
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}


.project-9:hover {
    cursor: pointer;
    background-color: red;
    border-color: #c10617;
}

/* .project-thumbnail:hover {
 cursor: pointer;
 background-color:
} */


/* .project-thumbnail:hover {
	animation: ripple-in 2s;
} */

.project-thumbnail:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }

.project-text-1:target {
    display: inline-block;
}


.project-titles li:hover {
    color: black;
}
.project-text-2:target {
    display: inline-block;
}
.project-text-3:target {
    display: inline-block;
}
.project-text-4:target {
    display: inline-block;
}
.project-text-5:target {
    display: inline-block;
}
.project-text-6:target {
    display: inline-block;
}
.project-text-7:target {
    display: inline-block;
}
.project-text-8:target {
    display: inline-block;
}
.project-text-9:target {
    display: inline-block;
}


/* MORE */
/* MORE */
/* MORE */

.concluding-section {
    height: 350px;
    width: 100%;
    background-attachment: fixed;
    background-image: url(../img/red-forest-3.jpg);
    background-position: center center;
    background-size:cover;
    z-index: -1;
}

.more-container {
    top: 100px;
    width: 100%;
    height: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;

}

 .more-container h2 {
    margin: 0;
}

.more-container p {
    color: #fffffc;
}


/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    padding: 8em 0 6em 0;
    background-color: #fffffc;
    color: black;
    text-align: center;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0;
    position: relative;

}

.center-icons{
    list-style: none;
    padding: 0;
    position: relative;
    top: -30px;
}

ul.center-icons li{
    display: inline-block;
    padding: 0 3em 0 0;
    color: black;
}

.fab, .fas {
    font-size: 8em;
    text-align: right;
    color: #2e2e2e;
}

.copyright {
    margin: 2em 0;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline-block;
}

.copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

.copyright li {
    font-size: 2em;
    border-left: solid 1px black;
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}







